body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #0078D4;
}

h2 {
    color: #444;
}

p {
    font-size: 18px;
    font-weight: bold;
}
